* {
    margin: 0%;
    padding: 0%;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    background: rgb(128, 174, 211);
    padding: 10px;
    border-radius: 40px;
    transform: translate(-50%, -50%);
}

.text {
    font-family: cursive;
    outline: none;
    border: none;
    background: none;
    color: white;
    float: left;
    padding: 0%;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-size: 17px;
}

.icon {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9004d;
    background: #f9004d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-box:hover>.text {
    width: 200px;
    padding: 0px 10px;
}